





<!-- //header -->
<header class="py-4">
	<div class="container">
			<div id="logo">
	<span id="brand"> MR-BookingSystem</span>
			</div>
		<!-- nav -->
		<nav class="d-lg-flex">

			<label for="drop" class="toggle"><span class="fa fa-bars" aria-hidden="true"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-2 ml-auto">
				<li class=""><a routerLink="/test" routerLinkActive="active">Test </a></li>
				<li class=""><a href="index.html">Home</a></li>
				<li class=""><a href="#about">About</a></li>
                <li class=""><a href="#process">Booking Process</a></li>
             <li class=""><a href="#contact">Contact Page</a></li>
             <li class=""><a routerLink="/login" routerLinkActive="active">Login </a></li>
                </ul>
				
				
				
			
			
		</nav>
		<div class="clear"></div>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
		
<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<div class="row banner-text">
			<div class="slider-info col-lg-6">
				<div class="banner-info-grid mt-lg-5">
					<h2>Now Reserve Meeting rooms for your team easily with MR-Booking System  </h2>
					<p>Management of your meeting rooms becomes easy if you manage them through MR-Booking system. 
                        No time clashes between meetings and better use of the available meeting rooms in your organaization.</p>
				</div>
				<a class="btn text-capitalize" routerLink="/register" routerLinkActive="active">Register </a><span></span>
				<a class="btn text-capitalize" href="#popup2">Watch video </a>
			</div>
			<div class="col-lg-6 col-md-8 mt-lg-0 mt-sm-5 mt-3 banner-image text-lg-center">
 <span class="col-lg-12 col-md-12 col-sm-12"><img src="../assets/images/mr5.jpg"  style="margin-bottom:20px" alt=""  class="float-right border-right border-bottom"/></span>
               
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<div class="row">
			<div class="col-lg-3 about-left">	
				<h3 class="heading mb-lg-5 mb-4">About us</h3>
			</div>
			<div class="col-lg-5 col-md-7 about-text">
				<h3>Welcome To this Meeting Rooms Booking Website </h3>
				<p class="mt-3">This software is perfect for all kind of organizations.To work with this software one needs to register himself in member or admin role. The one who is registered with admin role have the right to add or remove the meeting rooms and their features in the list.Each Meeting room is listed with its information like its capacity,technical facilities available ,whether it is AC or non-AC, any disfunctioning if prevailing(like AC not working or any other technical glitches) </p>
				<p class="mt-2">The others who are members can see the calender and find out the available time slots for booking the meeting rooms.Rooms can be booked according to the team size and technical requirements</p>
			</div> 
			<div class="col-lg-4 col-md-5 about-img">
 <span class="col-lg-12 col-md-12 col-sm-12"> <img src="../assets/images/mr4.jpg" alt="" class="border-right border-bottom" style="margin-bottom: 20px"/></span>
    <span class="col-lg-12 col-md-12 col-sm-12"><img src="../assets/images/mr1.jpg" alt="" class="border-right border-bottom float-right"/></span>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- Booking Process -->
<section class="choose py-5" id="process">
	<div class="container py-md-3">
		<h3 class="heading mb-5">Booking Process</h3>
		<div class="feature-grids row">
			<div class="col-lg-3 col-sm-6">
				<div class="f1 icon1 p-4">
					<div class="icon">
						<span class="fa fa-bandcamp"></span>
					</div>
					<h3 class="my-3">Register Yourself</h3>
					<p>You get a button to register at home page. Fill in your details and get registered with MR-BookingSystem.
						If you choose role as admin then you would also be able to update the information regarding meeting rooms in your organization.
						If you choose role as member then you could only book rooms. There could not be more than 5 people as admin in an organization.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
				<div class="f1 icon2 p-4">
					<div class="icon">
						<span class="fa fa-codepen"></span>
					</div>
					<h3 class="my-3">Login</h3>
					<p>Login with your credentials.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="f1 icon3 p-4">
					<div class="icon">
						<span class="fa fa-btc"></span>
					</div>
					<h3 class="my-3">See Meeting Rooms list and calendar</h3>
					<p>Once you login you will see the "Meeting Rooms" menu at navigation bar, where you could find all the meeting rooms existing in your organization.
						To see the available time slots for which meeting rooms are available go to "See calendar" sub-menu under "Schedule" menu in navigation bar.
						On  "Meeting Rooms" page admins would get the option to add or remove rooms. They could also update information about meeting rooms from here.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="f1 icon4 p-4">
					<div class="icon">
						<span class="fa fa-cloud"></span>
					</div>
					<h3 class="my-3">Book the room</h3>
					<p>On calender page you get an option to book a room. Fill in the required details to book.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Booking Process  -->






<!-- footer -->
<footer id="contact" class="footer-emp-w3ls py-5">
	<div class="container pt-lg-3">
		<div class="row footer-top">
			<div class="col-lg-4 col-sm-6 footer-grid-wthree">
				<h4 class="footer-title text-uppercase mb-4">Who We Are</h4>
				<div class="contact-info">
					<p>We are the .</p>
					<h4 class="mt-3">Trusted by more than 1000+ people</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-sm-0 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Latest News</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-twitter"></span> Sed ut piciatis unde natus</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit volupta....</p>
						<p class="date">23 Nov 2018.</p>
					</div>
					<div class="footer-style-w3ls mt-3">
						<h4 class="mb-2"><span class="fa mr-1 fa-twitter"></span> Modi tempra incunt sit</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit volupta....</p>
						<p class="date">24 Nov 2018.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Contact Us</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"> <span class="fa mr-1 fa-map-marker"></span> Location</h4>
						<p>Marketing Agency, 5th cross, 4th building, New York City.</p>
					</div>
					<div class="footer-style-w3ls my-3"  >
						<h4 class="mb-2"><span class="fa mr-1 fa-phone"></span> Phone</h4>
						<p>+121 098 8907 9987</p>
					</div>
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-envelope-open"></span> Email</h4>
						<p><a href="mailto:info@example.com">info@example.com</a></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2019 Digital. All Rights Reserved | Design by
		<a href="http://w3layouts.com/"> W3layouts </a>
	</p>
</div>
<!-- //copyright -->	
	
<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->









