/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
#username{
    color: plum;
    margin-left: 45px;
    margin-top: 5px;
}
=======
>>>>>>> e09160f1b364ce322a40c42d18e1367f6a455936
