<section class="process py-5" id="list">
	<div class="container py-md-3">
		<h3 class="heading mb-5">Meeting Rooms in the organization</h3>
		<div class="table-responsive-sm">          
				<table class="table table-bordered">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Meeting Room</th>
					  <th>AC/Non-AC</th>
					  <th>Capacity</th>
					  <th>Technical Glitches</th>
					  
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>1</td>
					  <td>A-B1F</td>
					  <td>AC</td>
					  <td>six-seater</td>
					  <td>None</td>
					</tr>

<tr>
					  <td>2</td>
					  <td>A-B2F</td>
					  <td>AC</td>
					  <td>six-seater</td>
					  <td>None</td>
</tr>
	<tr>				  
                       <td>3</td>
					  <td>B-B1F</td>
					  <td>AC</td>
					  <td>eight-seater</td>
					  <td>AC not cooling properly</td>
					</tr>

					<tr>				  
							<td>4</td>
						   <td>B-B2F</td>
						   <td>AC</td>
						   <td>twelve-seater</td>
						   <td>None</td>
						 </tr>
						 <tr>				  
								<td>5</td>
							   <td>C-B1F</td>
							   <td>AC</td>
							   <td>eight-seater</td>
							   <td>None</td>
							 </tr>
							 <tr>				  
									<td>6</td>
								   <td>C-B2F</td>
								   <td>AC</td>
								   <td>ten-seater</td>
								   <td>None</td>
								 </tr>
				  </tbody>
				</table>
				</div>
	</div>
</section>